<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="/login">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username :</label>
            {{ form.username }}
        </div>
        <div>
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
        </div>
        <input type="submit" />
    </form>
</body>
</html>